<h1>Edit Bubble Tea</h1>
<form action="/bubble_tea/<%=@bubble_tea.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <label for="name">Bubble Tea Name:</label>
  <input type="text" name="name" value="<%=@bubble_tea.name%>" id ="name">
  <br>
  <label for="flavor">Tea flavor</label>
  <input type="text" name="flavor" value="<%=@bubble_tea.flavor%>" id ="flavor">
  <br>
 <label for="Ingredients">Ingredients</label>
  <% @ingredients.each do |ingredient| %>
    <input type="checkbox" name="ingredient.id" 
    id= "<%= ingredient.id%>" >
    <%=ingredient.name%> 
    <% end %>
    <br><br>
  
  
  <input type="submit" class="button" value="Save">
</form>