<h1>All your bubble teas</h1>



<% @bubble_teas.each do |bubble_tea|%>
<ul>
    <%# <a href= "/bubble_tea<%=bubble_tea.user.user_name%>">link</a> %>

<li> <a href = "/bubble_tea/<%= bubble_tea.id%>"> Bubble Tea Name: <%= bubble_tea.name%></a> </li>
<%# <li> Tea Flavor: <%= bubble_tea.flavor%> %>
<li> Ingredients: <%= bubble_tea.ingredients%></li>
</ul>

<%end%>

